.jumbotron  {
    background-color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-align: center;
    color: white;
    border-radius: 0px;
}

body {
    background-color: darkgrey;
}

.card-header    {
    font-size: 30px;
}

.default-btn{
    border: none;
    outline: none;
    background: #798D8F; 
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}

.default-btn:hover{
    background: navy;
    color: #798D8F;
}

.label-header   {
    margin-left: 10px;
    font-weight: bold;
}

.form-control   {
    margin-left: 10px;
    width: 1090px;
}

.form-group {
    margin-bottom: 10px;
}

#choice {
    margin-left: 10px;
}

#searchButton   {
    margin-left: 10px;
}
